@media screen and (min-width: 1200px) {
  .nav_icon {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  /* header {
    top: 0;
  } */
  .site_info .boxes {
    bottom: 100px;
  }
  .site_info .boxes .box1 {
    width: 50%;
  }
  .site_info .boxes .box2 {
    width: 50%;
  }
  .site_info .boxes .box3 {
    width: 100%;
  }
  .nav_icon {
    display: none;
  }
  /* login form page style */
  .login_box {
    width: 50%;
  }
  /* join form page style */
  .join_box {
    width: 50%;
  }

  .gallery_item {
    width: 25%;
  }
  .gallery_item img {
    width: 100%;
  }
}
@media screen and (max-width: 1012px) {
  .about .company {
    width: 100%;
  }
  .portfolio .port_con_box .port_con {
    width: 50%;
  }
  .sub_img .img_slogan h2 {
    font-size: 35px;
  }
  .sub_img .img_slogan p {
    font-size: 25px;
  }
  .title_box {
    padding: 90px 5px 50px;
  }
  .title_box .txt_contents {
    width: 100%;
    float: none;
    text-align: center;
    border-left: 0px;
  }
  .title_box .title_txt {
    border-left: 0px;
  }
  .title_box .view_more {
    width: 100%;
    float: none;
    text-align: center;
    padding: 40px 0 0 0;
  }
  .detail_section .detail_box .detail_image {
    width: 80%;
    margin: auto;
    float: none;
  }
  .detail_section .detail_box .detail_contents {
    width: 80%;
    float: none;
    margin: 30px auto 30px;
  }
  .project_section .contents_box .content {
    width: 50%;
  }
  .gallery_item {
    width: 33.33%;
  }
  .gallery_contents .gallery_view {
    width: 33.33%;
  }

  .write_box {
    width: 100%;
  }
  .board_table {
    width: 80%;
  }
  /* admin section style */
  .admin_box .tab_box button {
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 8px;
  }
  .admin_box .panel_box .panel {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .top_line .login_bar a {
    width: 50%;
  }
  .top_line .login_bar a:nth-child(3) {
    width: 100%;
  }
  header .gnb {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
    left: -5px;
  }

  header .gnb li {
    float: none;
    width: 100%;
    justify-content: center;
    background: #222;
  }
  .main_img {
    display: none;
  }
  .site_info {
    padding: 30px 0;
  }
  .site_info .boxes {
    bottom: 0;
  }
  .site_info .boxes .box1 {
    width: 100%;
  }
  .site_info .boxes .box2 {
    width: 100%;
  }
  .site_info .boxes .box3 {
    width: 100%;
  }
  .nav_icon {
    display: block;
  }
  .title_box {
    padding: 50px 5px 30px;
  }

  .portfolio .port_con_box .port_con {
    width: 100%;
  }
  footer .copy {
    display: none;
  }
  footer .sns_box {
    float: none;
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
  }
  /* login form page style */
  .login_box {
    width: 80%;
  }
  /* join form page style */
  .join_box {
    width: 80%;
  }
  .join_box .input_box .col_con:nth-child(1) {
    display: none;
  }
  .join_box .input_box .col_con:nth-child(2) {
    width: 83%;
  }
  .join_box .name_box .col_con:nth-child(1) {
    display: none;
  }
  .join_box .name_box .col_con:nth-child(2) {
    width: 98%;
  }
  .join_box .pass_box .col_con:nth-child(1) {
    display: none;
  }
  .join_box .pass_box .col_con:nth-child(2) {
    width: 98%;
  }
  .join_box .pass_check_box .col_con:nth-child(1) {
    display: none;
  }
  .join_box .pass_check_box .col_con:nth-child(2) {
    width: 98%;
  }

  .join_box .email_box .col_con:nth-child(1) {
    display: none;
  }
  .join_box .email_box .col_con:nth-child(2) {
    width: 40%;
  }
  .join_box .email_box .col_con:nth-child(3) {
    padding: 5px 3px;
  }
  .join_box .email_box .col_con:nth-child(4) {
    width: 48%;
  }
  .sub_img {
    display: none;
  }

  .sub_page_title h2 {
    font-size: 25px;
  }
  .project_section .contents_box .content {
    width: 100%;
  }
  .detail_section .detail_btns button:nth-child(1) {
    width: 100%;
    margin-bottom: 10px;
  }
  .detail_section .detail_btns button:nth-child(2) {
    width: 48%;
  }
  .detail_section .detail_btns button:nth-child(3) {
    width: 48%;
    float: right;
  }
  .gallery_item {
    width: 50%;
  }
  .gallery_section #grid-filters {
    padding: 10px 0px;
  }
  .gallery_section #grid-filters li {
    padding: 20px 5px;
  }
  .gallery_contents .gallery_view {
    width: 50%;
  }
  /* gallery_upload style */
  .upload_left {
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
  .upload_right {
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
  .filtering button {
    padding: 5px;
  }
  .write_box {
    width: 100%;
  }
  .board_table {
    width: 90%;
  }
  .board_table a {
    margin-top: 20px;
  }
  /* community section style */
  .community_board_btn .search_box input {
    width: 130px;
  }
  .board_title .num,
  .board_title .hit,
  .board_content .num,
  .board_content .hit {
    display: none;
  }
  .board_list .tit {
    width: 50%;
  }
  .board_list .id {
    width: 50%;
  }
  .board_list {
    font-size: 12px;
  }
  .board_table .numbering span {
    font-size: 12px;
    width: 20px;
  }
  .community_board_btn div a {
    width: 100%;
    text-align: center;
  }
  .community_board_btn .search_box {
    width: 100%;
  }
  .community_board_btn div {
    width: 100%;
  }
  /* board_view style */
  .write_btn a {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
  /* admin section style */
  .admin_box .tab_box {
    width: 100%;
  }
  .admin_box .tab_box button {
    margin: 0 5px;
  }
  .admin_box .panel_box .panel {
    font-size: 12px;
  }
  .admin_box .panel_box .panel ul li:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  /* about section txt style */

  /* join box style */
  .join_box .input_box .col_con:nth-child(2) {
    width: 68%;
    margin: 0;
  }
  .join_box .input_box .col_con:nth-child(3) {
    width: 30%;
  }
  .join_box .name_box .col_con:nth-child(2) {
    width: 100%;
    margin-left: 0;
  }
  .join_box .pass_box .col_con:nth-child(2) {
    width: 68%;
    margin: 0;
  }
  .join_box .pass_box .col_con:nth-child(3) {
    width: 30%;
  }

  .join_box .email_box .col_con:nth-child(2) {
    margin-left: 0;
    width: 90%;
    margin-bottom: 10px;
  }
  .join_box .email_box .col_con:nth-child(3) {
    width: 8%;
  }
  .join_box .email_box .col_con:nth-child(4) {
    width: 100%;
    margin-left: 0;
  }
  .join_box .join_btns button {
    padding: 10px 0;
  }
  .gallery_item {
    width: 25%;
  }
  .filtering button {
    padding: 5px;
  }
}
